:root{
    --blue-color: #3A5EFF;
    --green-color: #57DF23;
    --red-color: #E22210;
}

body{color: white;}

.container{
    width: 100%;
    padding: 0 15px;
    margin: auto;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter-text{font-size: 1.5rem;}

.score{font-size: 3rem;}

.progress{
    width: 250px;
    height: 40px;
    border: 1px solid var(--green-color);
    border-radius: 50px;
    margin-top: 10px;
    overflow: hidden;
}

.progress .progress-inner{
    background-color: var(--green-color);
    overflow: hidden;
    height: 100%;
    width: 0%;
}


.choises{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choises .choise{
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    width: 80%;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.choises .choise .choise-counter{
    height: 100%;
    width: 10%;
    line-height: 60px;
}

.choises .choise .choise-text{
    height: 100%;
    width: 100%;
    line-height: 60px;
}

.choises .choise:hover{
    transform: scale(1.02);
}

.choises .choise.correct{background-color: var(--green-color);}

.choises .choise.incorrect{background-color: var(--red-color);}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container{width: 540px;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container{width: 720px;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{width: 960px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container{width: 1140px;}
}