/* Global Style*/
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:ital,wght@0,300;0,500;1,600&display=swap');
*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nova Square', cursive;
}







/* Styling main */

